
body{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    margin-top: 50px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
}
    
.header-logo{
    margin-right: 280px;
}
 .header-logo-img{
    max-width: 128px;
    min-height: 22px;
}
.header-navigation{
    display: flex;
}

.header-navigation ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 35px;
}

.header-navigation ul li{
    list-style: none;
}

.header-navigation ul li a{
    color: #282828;
    text-decoration: none;
}

.header-navigation ul .sign-in a{
    background-color: #3C6BFF;
    color: #fff;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 25px;
}

.search img{
    width: 30px;
    height: 30px;
}

.cart img{
    width: 30px;
    height: 30px;
}

.cart{
    position: relative;
}

.cart .circle{
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 18px;
    left: 18px;
    width: 15px;
    height: 15px;
    background-color: #FF9900;
}

.circle{
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.hero{
    max-width: 100%;
    display: flex;
    align-items: center;
}
.hero-image img{
    width: 100%;
    max-width: 680px;
    max-height: 520px;
}
.hero-image{
    width: 100%;
}
.hero-dskr{
     width: 100%;
     
}
.blue-text{
color: #0039DD;
font-family: Montserrat;
font-weight: 500;
font-size: 12px;
line-height: 130%;
letter-spacing: 0%;
vertical-align: middle;
width: 80;
height: 16;
top: 336px;
left: 837px;

}
.page-headline{
font-family: Montserrat;
font-weight: 700;
font-size: 40px;
line-height: 130%;
letter-spacing: 0%;
vertical-align: middle;
color: #282828;
width: 444;
height: 52;
top: 349px;
left: 834px;
}
.page-descr{
font-family: Montserrat;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0%;
vertical-align: middle;
width: 480;
height: 72;
top: 419px;
left: 837px;
color: #282828;

}
.page-btn{
  width: 174;
height: 46;
top: 506px;
left: 837px;
border-radius: 25px;
gap: 10px;
padding-top: 13px;
padding-bottom: 13px;
padding-left: 33px;
padding-right: 48px;
background-color: #FF9900;
border: none;
display: flex;
    align-items: center;
    justify-content: center;
}
.button-text{
    width: 94;
height: 20;
font-family: Montserrat;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: #f8f8f8;
}
 
